<!DOCTYPE html>
<html amp lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title>{% block title %}Guillaume Loulier - Web Developper{% endblock %}</title>
        <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2015-10-07T12:02:41Z",
            "image": [
              "logo.jpg"
            ]
          }
        </script>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {% block stylesheets %}
            <!-- Stylesheets -->
            <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-orange.min.css" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Dancing+Script"  />
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />

            <!-- Personal Stylesheets -->
            <link rel="stylesheet" href="{{ asset('prod/css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Navigation bar -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Guillaume Loulier {% block navbar %}{% endblock %}</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="{{ path('home') }}">Accueil</a>
                        <a class="mdl-navigation__link" href="{{ path('home_blog') }}">Blog</a>
                        <a class="mdl-navigation__link" href="{{ path('home_creations') }}">Créations</a>
                        <a class="mdl-navigation__link" href="{{ path('home_formations') }}">Formations</a>
                        <a class="mdl-navigation__link" href="{{ path('home_contact') }}">Contact</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="{{ path('home') }}">Accueil</a>
                    <a class="mdl-navigation__link" href="{{ path('home_blog') }}">Blog</a>
                    <a class="mdl-navigation__link" href="{{ path('home_creations') }}">Créations</a>
                    <a class="mdl-navigation__link" href="{{ path('home_formations') }}">Formations</a>
                    <a class="mdl-navigation__link" href="{{ path('home_contact') }}">Contact</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <!-- Body -->
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
        </div>
        <!-- Footer -->
        <footer>
            <section class="footer-left_intro-bloc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="footer-header_text">Guillaume Loulier</h2>
                            <p class="footer-header_subtext">
                                Create tomorrow world !
                            </p>
                            <p class="footer-body_text">
                                Créer le monde de demain est une tâche difficile de prime abord mais le coût temps justifie l'investissement,
                                en effet, quoi de plus savoureux que la réussite sur le long terme ?
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-center_about-bloc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="footer-header_text">A propos</h2>
                            <p class="footer-body_text">
                                Qui suis-je ?
                            </p>
                            <p class="footer-body_text">
                                Qui suis-je ?
                            </p><p class="footer-body_text">
                                Qui suis-je ?
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-right_social-bloc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="footer-header_text">Me suivre :</h2>
                            <i class="ion-social-facebook footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-twitter footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-github footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-tumblr footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-linkedin footer-social_link"><a href="#"></a></i>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        {% block javascripts %}
            <!-- Javascript -->
            <script src="{{ asset('dev/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('dev/vendor/material-design-lite/material.min.js') }}"></script>

            <!-- FOS Javascript -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <!-- Global Javascript -->
            <script src="#" async></script>
        {% endblock %}
    </body>
</html>
