<!DOCTYPE html>
<html amp lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title>{% block title %}Guillaume Loulier - Web Developper{% endblock %}</title>
        <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Open-source framework for publishing content",
            "datePublished": "2015-10-07T12:02:41Z",
            "image": [
              "logo.jpg"
            ]
          }
        </script>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {% block stylesheets %}
            <!-- Stylesheets -->
            <link rel="stylesheet" href="{{ asset('dev/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('prod/css/main.css') }}">
            <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Dancing+Script" rel="stylesheet">
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="main-navigation">
            <div class="main-navigation_content">
                <span class="main-navigation_menu-icon"></span>
                <ul class="main-navigation_menu-link">
                    <li>
                        <a href="#">Blog</a>
                        <p>Discuter, partager et apprendre.</p>
                    </li>
                    <li>
                        <a href="#">Créations</a>
                        <p>Découvrir le futur.</p>
                    </li>
                    <li>
                        <a href="#">Formations</a>
                        <p>Se former avec plaisir !</p>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                        <p>Aller plus loin.</p>
                    </li>
                </ul>
            </div>
        </header>
        <!-- Body -->
        <main class="main_core">
            {% block body %}
            {% endblock %}
        </main>
        <footer>
            <section class="footer-left_intro-bloc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="footer-header_text">Guillaume Loulier</h2>
                            <p class="footer-header_subtext">
                                Create tomorrow world !
                            </p>
                            <p class="footer-body_text">
                                Créer le monde de demain est une tâche difficile de prime abord mais le coût temps justifie l'investissement,
                                en effet, quoi de plus savoureux que la réussite sur le long terme ?
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-center_about-bloc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="footer-header_text">A propos</h2>
                            <p class="footer-body_text">
                                Créer le monde de demain est une tâche difficile de prime abord mais le coût temps justifie l'investissement,
                                en effet, quoi de plus savoureux que la réussite sur le long terme ?
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-right_social-bloc">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="footer-header_text">Me suivre :</h2>
                            <i class="ion-social-facebook footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-twitter footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-github footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-tumblr footer-social_link"><a href="#"></a></i>
                            <i class="ion-social-linkedin footer-social_link"><a href="#"></a></i>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        {% block javascripts %}
            <!-- Javascript -->
            <script src="{{ asset('dev/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('dev/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <!-- FOS Javascript -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <!-- Global Javascript -->
            <script src="#" async></script>
        {% endblock %}
    </body>
</html>
